.nav {
  grid-area: n;
  background-color: rgb(195, 195, 195);
  margin-right: 10px;
  border-radius: 10px;
  }

  .item {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
	color: white;
  }
.item a {
  color: #ffffff;
  text-decoration: none;

}

.item a.activeLink {
    color: rgb(3, 0, 0);
  }

